.slide.big-slide
  <iframe width="640" height="360" src="//www.youtube.com/embed/NTO_egDgpcE" frameborder="0" allowfullscreen></iframe>
.slide.big-slide
  %h1.no-top-margin Pravo žrtava na nadoknadu štete
  %p Crna Gora je do sada usvojila i inkorporirala u svoj zakonodavni okvir Konvenciju UN-a protiv transnacionalnog organizovanog kriminala (2000) i Protokol za sprječavanje, suzbijanje i kažnjavanje trgovine ljudima, posebno ženama i djecom, ratifikovala Konvenciju Savjeta Evrope o borbi protiv trgovine ljudima, Konvenciju UN-a o pravima djeteta i oba protokola (Fakultativni protokol uz Konvenciju o pravima djeteta koji se odnosi na prodaju djece, dječju prostituciju i dječju pornografiju i Fakultativni protokol o zabrani uključivanja djeteta u oružani sukob). Ustavom Crne Gore, član 9, propisano je da su potvrđeni i objavljeni međunarodni ugovori i opšte prihvaćena pravila međunarodnog prava sastavni dio unutrašnjeg pravnog poretka i imaju primat nad nacionalnim zakonodavstvom i primjenjuju se kada se razlikuju od nacionalnog zakonodavstva. U skladu sa Ustavom, ljudski život je neprikosnoven, što jamči dostojanstvo i sigurnost ljudskog bića i zabranjuje sve oblike trgovine ljudima i djecom. Glavni propisi koji se odnose na kriminalizaciju i kažnjavanje trgovine ljudima su Krivični zakonik i Zakonik o krivičnom postupku. Osnovni oblik krivičnog djela trgovine ljudima predviđa kaznu zatvora od jedne do deset godina.
.slide.big-slide
  %p Vlada Crne Gore je usvojila Nacrt Zakona o naknadi štete žrtvama krivičnih djela u decembru 2011. godine. Nacrt zakona je upućen na ekspertizu u Savjet Evrope i Evropsku komisiju. Javna rasprava o Nacrtu zakona organizovana je 19. decembra 2012. godine, a prisustvovali su predstavnici pravosudnih organa i međunarodnih i nevladinih organizacija. Usvajanje Zakona o naknadi štete žrtvama krivičnih djela treba da uspostavi sistem državne naknade koja će biti na raspolaganju  žrtvama trgovine ljudima. Osim toga, u svojim Zaključcima (CEDAW/C/MNE/CO/1), objavljenim nakon razmatranja inicijalnog izvještaja Crne Gore (CEDAW/C/MNE/1) na 1002. i 1003. sjednici, 6. oktobra 2011. godine, Komitet UN o ukidanju svih oblika diskriminacije žena je izrazio svoju zabrinutost „zbog malog broja gonjenja i blagih kazni izrečenim trgovcima ljudima; ograničenog kapaciteta nadležnih organa da identifikuju (potencijalne) žrtve trgovine ljudima, uključujući žene i djevojke iz ugroženih grupa; i nedostatak zaštite i naknade žrtvama. Odbor je preporučio da država članica "ubrza napore da se uspostavi nacionalni mehanizam za kompenzaciju žrtvama trgovine ljudima i ojačaju programi za njihovu reintegraciju u društvo“.
.slide.big-slide
  .logos
    =image_tag("logos.#{I18n.locale}.png", style: 'width:100%')
    %p.disclaimer= t(:disclaimer)
  

