.slide
  <iframe width="640" height="360" src="//www.youtube.com/embed/_eblHm3Mxjc" frameborder="0" allowfullscreen></iframe>
.slide.big-slide
  %h1.no-top-margin Право на компензација за  жртвите од трговија со луѓе

  %p Проблематиката на компензација на жртвите на трговија со луѓе во Р.Македонија е релативно нова и нејзината актуелизација е од поново време со оглед на се поголемиот број на жртви на трговија со луѓе кои се наоѓаат на маргините на општеството и на кои им е потребна помош и заштита.
  %p Државните институции во изминатите години прават извесни напори насочени кон подобрување на законската и институционалната рамка во однос на подобрување на положбата на жртвите на кривични дела. Што се однесува на примена на законите и заштита на правата за компензација на жртвите на трговија со луѓе треба да се направат одредени подобрувања во насока на законски измени и тие да се применат во пракса. 

.slide.big-slide
  %div.box
    %h2 Меѓународни документи кои го штитат правото на жртвите на компензација, а се обврзувачки за Република Македонија:
    %ul
      %li Конвенцијата на ООН против транснационалниот организиран Криминал (Палермо конвенцијата)– ратификувана 2005
      %li Протокол за превенција, сузбивање и казнување на трговијата со луѓе, особено жени и деца - ратификувана 2005 
      %li Конвенцијата на совет на Европа за борба против трговија со луѓе   – ратификувана 2009 
      %li Конвенцијата за правата на детето на ООН
      %li Конвенција на Совет на Европа за заштита на деца од сексуална злоупотреба – ратификувана 2012

.slide.big-slide
  %p Примерите од судската пракса во случаите на трговија со луѓе јасно покажуваат дека правото на компензација на жртвите е несоодветно заштитено. Имено од 2002 година, кога во националното законодавство беше воведено кривичното дело “трговија со луѓе“ па до денес во Р.Македонија само осум жртви добиле надомест на нематеријална штета кој бил досуден во текот на кривичната постапка. Реалноста е таа дека всушност овие жртви не добиле надоместок иако има правосилна пресуда. Најчести пречки при извршувањето на правосилната пресуда за остварување на компензација се: немање недвижен имот, немање движен имот, немање хартии од вредност немање трансакциона сметка на име на трговецот и немање средства да се плати извршна постапка. Дополнително, имотот на сторителите не се осудува никој да го купи поради закани од самите сопственици како и од авторитетот/угледот кој го имаат во местото на живеење.
  %p Во таа насока потребно е државата да превземе различни мерки за подобрување на ефикасноста во спроведувањето на компензацијата. 
.slide.big-slide
  %p -Неопходна е доследна примена на законските одредби кој се однесуваат на компензацијата на жртвите од трговија со луѓе, оформување на заеднички ставови во однос на идентификувани проблеми во врска со Компензацијата и заедничко лобирање за подобрување на ефикасноста на судскиот систем во остварувањето на ова право на жртвата.
  %p -Активирање на средставта од буџетот на Министерство за Правда и државните тела кои ќе работат со  тие средства  од каде жртвите би биле обештететувани, а државата потоа ќе создаде услови за „наплата” од сторителот т.е со продавање на неговиот имот
  %p -Почеста употреба на одредбите од КЗ за конфискација на имот или имотна корист прибавена со кривичното дело заради полесно, побрзо обештетување на жртвата од конфискуваниот имот на сторителот на тоа дело.
.slide.big-slide
  %p Обврските кои Република Македонија ги превзема со потпишување и ратификација на меѓународните конвенции и документи упатуваат на потреба од создавање на соодветен ефикасен механизам за остварување на правото на компензација. Со воспоставување на таков механизам државата ќе покаже дека ја препознава штетата која жртвите ја претрпеле, а жртвите дополнително ќе бидат мотивирани да учествуваат во судските постапки и да сведочат против обвинетите. Воедно, ефикасен механизам за компензација кој подразбира одземање на целиот имот стекнат низ експлоатација на жртвите ќе доведе до дестимулација на трговците за извршување на кривичното дело трговија со луѓе. 
  %p Со цел унапредување на заштитата на право на компензација, Отворена Порта во соработка со Националната Комисија за борба против трговија со луѓе и илегална миграција на РМ и други релевантни актери, иницира законски измени кои се однесуваат на формирање на фонд за обештетување на жртви на секаков вид на криминал, вклучувајки ги и жртвите од трговија со луѓе. Со овие измени жртвите вистински би се обештетиле за нивните страдања и би имале поголеми шанси за интеграција во општеството. 



.slide.big-slide
  .logos
    =image_tag("logos.#{I18n.locale}.png", style: 'width:100%')
    %p.disclaimer= t(:disclaimer)
  

