.slide.big-slide.slide1
  <iframe width="640" height="360" src="//www.youtube.com/embed/NTO_egDgpcE" frameborder="0" allowfullscreen></iframe>
.slide.big-slide.slide2
  %h1.no-top-margin Pravo žrtava na nadoknadu štete
  %p Poslednjih godina Republika Srbija čini izvesne napore usmerene na poboljšanje zakonskog i institucionalnog okvira u cilju unapređenja položaja žrtva nasilnih krivičnih dela. Međutim, kada je u pitanju primena zakona i zaštita prava na nadoknadu štete žrtvama trgovine ljudima i drugih krivičnih dala sa elementima nasilja u praksi, Srbija se ne može pohvaliti značajnim napretkom. 
  %p Na primeru sudske prakse u slučajevima trgovine ljudima jasno se vidi koliko je pravo žrtava na kompenzaciju neadekvatno zaštićeno. Naime, od 2003. godine kada je u nacionalno zakonodavstvo uvedeno krivično delo trgovine ljudima do danas u našoj zemlji je samo jedna žrtva dobila nadoknadu štete za pretrpljeni strah i duševne bolove zbog povrede časti, ugleda, slobode, prava ličnosti i dostojanstva. Takva praksa sugeriše da sud žrtve tretira isključivo kao svedoke koji treba da pomognu državi da uspešnije procesuira one koji su prekršili zakon, dok za uzvrat ne dobijaju ništa.

.slide.big-slide.slide3
  %div.box
    %h2 Međunarodna dokumenta koja štite pravo žrtava na kompenzaciju obavezujuća za Republiku Srbiju:
    %ul
      %li Konvencija Ujedinjenih nacija protiv transnacionalnog organizovanog kriminala (2001) – potpisana i ratifikovana
      %li Protokol za sprečavanje, suzbijanje i kažnjavanje trgovine ljudima, naročito ženama i decom (2001) – potpisan i ratifikovan
      %li Konvencija Saveta Evrope o borbi protiv trgovine ljudima (2009) – potpisana i ratifikovana
      %li Konvencije Saveta Evrope o pravu na kompenzaciju žrtava dela sa elementima nasilja (2010) – potpisana, nije ratifikovana
      %li Konvencija Saveta Evrope o sprečavanju i borbi protiv nasilja nad ženama i nasilja u porodici (2013) – potpisana i ratifikovana, stavljena rezerva na Član 30 koji se odnosi na kompenzaciju
.slide.big-slide.slide4
  %p Rad suda često je spor i neefikasan, što dodatno otežava položaj žrtve jer ona godinama mora da se pojavljuje na sudu, iznova i iznova proživljava traumu kroz ponovljena svedočenja, suočava sa trgovcima, trpi uvrede i nosi se sa pretnjama koje se po pravilu za vreme sudskog postupka protiv trgovaca inteziviraju. Nakon više godina takvog maltretmana, ljudi koji su je eksploatiasali dobijaju vrlo niske kazne, dok ona ne dobija nadoknadu štete čak i u slučajevima kada se kriminalcima oduzme imovina koju su stekli eksploatišući rad žrtve.
  %p Obaveze koje je Srbija preuzela ratifikacijom međunarodnih konvencija i dokumenata upućuju na neophodnost kreiranja efikasnog mehanizma za ostvarivanje prava na kompenzaciju. Uspostavljanjem takvog mehanizma država će pokazati da prepoznaje i priznaje patnju i štetu koju su žrtve pretrpele, a žrtve će se dodatno motivisati da učestvuju u postupku i svedoče protiv nasilnika. Ujedno, efikasan mehanizam nadoknade štete koji bi podrazumevao oduzimanje sve imovine stečene kroz eksploataciju žrtava doveo bi i do destimulacije počinilaca krivičnog dela trgovine ljudima.
.slide.big-slide.slide5
  %p U cilju unapređenja zaštite prava na kompenzaciju, ASTRA je pored inicijative za ratifikaciju Konvencije za naknadu štete žrtvama krivičnih dela sa elementima nasilja osnovala i radnu grupu koju čine sudije, tužioci i advokati, a koja radi na izradi predloga izmena zakonskih rešenja u ovoj oblasti. Njihov zaključak je da je u ovom trenutku najcelishodnije izmeniti Zakon o krivičnom postupku i uvesti obavezu krivičnim sudovima da odlučuju o imovinskopravnom zahtevu žrtava u sklopu krivičnog postupka. Na taj način, ne samo da bi žrtve lakše ostvarile pravo na nadoknadu štete, već ne bi morale da ulaze u parnični postupak koji se pokazao kao skup, dugotrajan, traumatizujući i neefikasan. 
.slide.big-slide.slide6
  .logos
    =image_tag("logos.#{I18n.locale}.png", style: 'width:100%')
    %p.disclaimer= t(:disclaimer)
  

