.slide.big-slide.slide1
  %h1.no-top-margin Serbia
  %h1.no-top-margin Victim's Right to Compensation 
  %p In recent years, the Republic of Serbia has been making certain efforts to upgrade legal and institutional framework in order to improve the position of the victims of violent crimes. However, when implementation of the laws and protection of rights of victims of human trafficking and other violent crimes in practice are concerned, Serbia cannot report a significant improvement. 

.slide.big-slide.slide2
  %div.box
    %h2 International documents protecting the right of victims to compensation binding on the Republic of Serbia:
    %ul
      %li UN Convention Against Transnational Organised Crime (2001) – signed and ratified 
      %li Protocol to Prevent, Suppress and Punish Trafficking in Persons, especially Women and Children (2001) – signed and ratified 
      %li CoE Convention on Action against Trafficking in Human Beings (2009) – signed and ratified 
      %li CoE Convention on the Compensation of Victims of Violent Crimes (2010) – signed, not ratified
      %li CoE Convention on preventing and combating violence against women and domestic violence (2013) – signed and ratified, with reserve to Article 30 pertaining to compensation 

.slide.big-slide.slide3
  %p The examples of judicial practice in the cases of human trafficking clearly evidence the inadequacy of the protection of victims’ right to compensation. Namely, since 2003, when the crime of human trafficking was introduced into national legislation, only one victim has received compensation for the fear and emotional pain suffered due to the violation of her honour, reputation, freedom, personal rights and dignity. Such practice indicates that the court treats victims as mere witnesses who are to help the state in prosecuting perpetrators, while not getting anything in return. 
  %p The court practice is slow and inefficient, which additionally aggravates the position of victims, who need to be reappearing before court for years, relive the trauma in repeated testimonies, face the traffickers over and over again, and endure insults and threats which tend to intensify during the court proceedings. After years and years of such maltreatment, the people who exploited the victim often receive quite lenient sentences, while the victims do not receive compensation, even in the cases when the perpetrators were seized the property they acquired through exploitation of the victims.  
.slide.big-slide.slide4
  %p The responsibilities of Serbia that became binding after ratification of international conventions and documents indicate the necessity of creating an effective mechanism to support the realisation of one’s right to compensation. By establishing such mechanism the state will demonstrate that it recognises the pain and damage suffered by victims, while the victims will be additionally stimulated to participate in the proceedings and testify against the perpetrators. Simultaneously, effective and efficient mechanism for compensation which would include the seizure of all assets gained through victim’s exploitation would also lead to discouraging perpetrators from human trafficking. 
.slide.big-slide.slide5
  %p In order to improve the right to compensation, ASTRA has launched the initiative for ratification of the Convention on Compensation of Victims of Violent Crimes and also established a Work Group comprised of judges, prosecutors and attorneys to draft the legal amendments in the field. Their conclusion is that at the moment it would be the most expedient to amend the Criminal Procedure Code and introduce the obligation of criminal courts to decide on property claims of victims within criminal proceedings. Thereby, victims would not only realize their right to compensation more easily, but they would also be spared form civil proceedings which are proven to be expensive, lengthy, traumatising and inefficient. 

.slide.big-slide.slide6
  %h1.no-top-margin Croatia
  %h1.no-top-margin VICTIM'S RIGHT TO COMPENSATION 
  %p Compensation to human trafficking victims in the Republic of Croatia is regulated by the Law on Financial Compensation to Crime Victims which came into force on the day of Croatia’s accession to the European Union. Pertaining to the Article 5 of this Law, entitlement to compensation is held by direct and indirect victims of intentional crimes accompanied by violence or violation of sexual integrity; or the crimes of endangering one’s life or property by generally dangerous act or tool resulting in death, serious bodily injury or grave compromising of a person’s health, categorised by the Criminal Code as a serious form of the basic crime committed intentionally. 
.slide.big-slide.slide7
  %p Indirect victim is defined as a person who suffered grave bodily injuries, or serious compromising of health during the commission of an intentional act of violence against other person, in case he/she did not participate in the commission of the act; while attempting to prevent commission of a crime; while aiding the police in apprehending a perpetrator; while helping another crime victim. 
  %p Indirect victims may include spouse, partner, child, parent, adoptee, adoptive parent, stepparent, stepchild of a direct victim, as well as the person who lived with the direct victim in a same-sex relationship. Indirect victims may also include grandparent or grandchild, in case one of these two is a direct victim, and they lived together in a lasting arrangement, where grandparents substituted one’s parents. 
  %p The right to compensation may be realised only for the consequences of the aforementioned criminal acts committed against direct victim on the territory of the Republic of Croatia, on a Croatian ship or aircraft, regardless of the fact where the victim was located when the consequences of crime produced their effect. 
.slide.big-slide.slide8
  %div.box
    %h2 The right to compensation is held by a victim who is: 
    %ul
      %li A national of the Republic of Croatia, or a person legally residing in the Republic of Croatia,  
      %li A national of some other EU country, or a person legally residing in an EU country.  
.slide.big-slide.slide9
  %p The right to compensation under this Law may be realised only when the act of crime was recorded by or reported to the police or public attorney’s office as a crime. Beneficiaries of the right are entitled to compensation regardless of the fact whether the perpetrator of the crime is identified, and regardless of initiation of the criminal proceedings. 
.slide.big-slide.slide10
  %h2 Competent Authorities 
  %p The right to compensation is decided on by the Board for Financial Compensation to Crime Victim’s (hereinafter: Board), by the majority vote of all the members. The right to compensation is decided on by the Board within 60 days from the submission of the complete application. Based on the decision of the Board, the Ministry competent for judiciary will pay the compensation within 30 days from receiving the decision under which the payment of compensation was ordered. 
  %p Note: The reports on operation of the Board are still missing, since the Board has just been established.  
  %p So far, one judgement awarding compensation to a human trafficking victim has been issued by a Municipal Civil Court in September 2009. According to it, traffickers were ordered to pay 152,000.00 HRK (around 20.000€) to compensate the victim.   

.slide.big-slide.slide11
  %h1.no-top-margin Bosnia and Herzegovina
  %h1.no-top-margin Victim's Right to Compensation 
  %p One of the most important rights of human trafficking victims is the right to be indemnified i.e. compensated by the state, with the purpose of swift and effective reparation of the damages suffered, as envisaged by Article 15 of the Council of Europe Convention on Action against Trafficking in Human Beings, which was ratified by Bosnia in 2008. The status of trafficking victim in itself implies the incontestable right to utilise all legal mechanisms which enable victims to receive timely information and aid in protecting their interests, rights and safety within court proceedings, as guaranteed by international standards and national legislation. The victims are entitled to all types of aid, without discrimination on any basis, and without being conditioned to cooperate with the authorities in criminal prosecution of the traffickers. 

.slide.big-slide.slide12
  %h2 International documents protecting the right of victims to compensation binding on Bosnia and Herzegovina:
  %div.box
    %ul
      %li UN Convention Against Transnational Organised Crime (29 March 2003)
      %li CoE Convention on Action against Trafficking in Human Beings (1 February 2008)
      %li Protocol to Prevent, Suppress and Punish Trafficking in Persons, especially Women and Children (25.12.2003) - Palermo Protocol
      %li EU Directive 2011/36/EU
.slide.big-slide.slide13
  %p The legal framework of compensation to human trafficking victims which is established in Bosnia and Herzegovina is quite solid. The Constitution of Bosnia and Herzegovina, which incorporates international conventions and documents, represents an instrument which warrants “a highest degree of internationally recognised human rights and fundamental freedoms” and thereby also the protection of human trafficking victims. Apart from constitutional provisions, the basic precondition of a successful action against human trafficking, as a complex and dynamic social phenomenon, is a coordinated and appropriate legal framework which would effectively enable adequate criminal proceedings, prosecution of perpetrators, as well as provision  of aid and protection to victims and witnesses of human trafficking. 
.slide.big-slide.slide14
  %p In accordance with criminal law in Bosnia and Herzegovina, human trafficking victims, just like all other victims, may claim compensation by the accused within criminal proceedings. It has been noticed that such claims are not encouraged in practice, since their investigation would imply the establishment of the damage suffered in order to determine an assessment for compensation, which generally postpones sentencing in the case of human trafficking. As an alternative, victims are suggested to seek justice in civil proceedings. Due to the length of the proceedings and their high expenses, as well as due to the fact that the victim has the burden of proof while seeking his/her rights in civil proceedings, quite a small number of victims decide to pursue their rights in this way. 
.slide.big-slide.slide15
  %p Even though the criminal law of Bosnia and Herzegovina envisages the possibility of seizure of illegally acquired financial gain and stipulates the procedures for temporary or lasting seizure of criminal assets, it however does not provide enough possibilities for making the decisions on compensation by perpetrators to victims in criminal proceedings. This is evidenced by the fact that since 2003, only one case in the judicial practice of the B&H Criminal Court (as the only competent court before the amendments of 2013 in the Republic of Srpska and Brčko District) involved the decision on compensating the victim. Furthermore, the law does not envisage the possibility of compensation by the state, nor did the state establish a fund for human trafficking victims or crime victims in general. Despite the fact that the purpose of legal framework is to guarantee the access to the aforementioned compensation mechanisms, the system of legal aid provision is not effective regardless of the established mechanisms. 
.slide.big-slide.slide16
  %p The responsibilities that Bosnia and Herzegovina has undertaken by ratifying international conventions and documents point to the necessity of creating an effective mechanism for the realization of one’s right to compensation. The inexistence of a state run fund for compensation to human trafficking victims in Bosnia and Herzegovina represents a major obstacle to effective realisation of this right. Once the effective mechanism is established, human trafficking victims would finally get satisfaction for the damages and pain suffered in human trafficking rings, while they will be additionally motivated to participate in the proceedings and testify against the perpetrators. 
.slide.big-slide.slide17
  %p Thereby the International Forum of Solidarity – EMMAUS (IFS-EMMAUS) has launched the initiative for the establishment of a state fund for compensation in Bosnia and Herzegovina. IFS-EMMAUS directed their activities of advocacy and campaigning in the entire state to decision makers and judicial institutions, while also developing the Handbook for Judges and Prosecutors on Compensation to Victims of Human Trafficking in Bosnia and Herzegovina. The application of the Handbook will be promoted as a part of capacity building activities for judges and prosecutors, with the purpose of better and more comprehensive implementation of the relevant legal provisions pertaining to compensation for human trafficking victims. Further activities within the campaign include setting up the Work Group for the establishment of Compensation Fund in Bosnia and Herzegovina, which is currently underway. It is expected that the Work Group will be established in September 2014, while IFS-EMMAUS, in cooperation with the key actors in the field, is preparing the concept solution pertaining to the compensation to victims of human trafficking in Bosnia and Herzegovina. 



.slide.big-slide.slide18
  %h1.no-top-margin Macedonia
  %h1.no-top-margin Right to compensation for victims of human trafficking
  %p The issue of compensation for trafficked persons in the Republic of Macedonia is a relatively new and unexplored one, and it has only recently been raised considering the increasing number of trafficked persons who seem to be marginalised and are in need of help and protection.
  %p In the past years state institutions puts efforts toward enhancing legal and institutional framework for improving a position of the victims of crime. As for the rule of law and protecting the right to compensation for victims of human trafficking certain improvements should be made regarding legislative changes and applying them in practice.

.slide.big-slide.slide19
  %div.box
    %h2 International documents that protect the right to compensation of victims and are obligatory to Republic of Macedonia:
    %ul
      %li The UN convention against transnational organized crime (Palermo convention) ratified in 2005 
      %li Protocol to Prevent, Suppress and Punish Trafficking in Persons, Especially Women and Children, especially women and children ratified in 2005 
      %li Councilof Europe Convention on Action against trafficking in Human beings - ratified in 2009
      %li The UN convention on the Rights of the Child
      %li Council of Europe Convention on the Protection of Children against Sexual Exploitation and Sexual Abuse - ratified 2012

.slide.big-slide.slide20
  %p Examples from jurisprudence in cases of human trafficking clearly show that the right to compensation is not properly protected. In fact since 2002, when the trafficking in human beings as a criminal offence was included in the Criminal code, up till now in Macedonia only for eight victims was imposed a compensation for non-material damage that was awarded  during the criminal proceedings. The reality is that actually these victims did not receive any compensation although there is a final judgment. 
  %p The most common obstacles in the implementation of the final sentence for the exercise of restitution are lack of real estate, no movable property, no securities, no transaction account on the name of the trader and lack of funds to pay for enforcement proceedings. In addition, no one wants to buy offenders’ property due to the owners’ threats and the authority/reputation they have in the residence place.
.slide.big-slide.slide21
  %p In that direction it is necessary the state to undertake different measures for improvement of efficiency in realization of compensation: 
  %p -It is essential to have consistent application of statutory provisions firstly concerning the compensation of trafficked persons, secondly establishing agreement between actors on the identified problems related to compensation so that finally actors may jointly lobby to improve the efficiency of the judicial system in the exercise of this right of the trafficked persons.
  %p -Establishment of a state fund for restitution where trafficked persons would receive compensation through activation of assets from the budget of the Ministry of Justice and other state bodies, and the state will then create the conditions for "recovery" from the offender/trafficker, i.e. by selling his property. 
  %p -More common use of the provisions of the Criminal Code on confiscation of property or proceeds obtained by crime due to easier, faster compensation to the trafficked persons from confiscated property to the perpetrator of this act. 
.slide.big-slide.slide22
  %p The responsibilities which R. Macedonia undertook with signing and ratification of international conventions and documents indicate the need for establishing an appropriate mechanism for the effective exercise of the right to compensation.
  %p By establishing this kind of mechanism the state will show that recognizes the damage and suffering of the victims and at the same time victims will also be motivated to participate in judicial proceedings and testify against the traffickers. 
  %p Moreover, an efficient mechanism for compensation that involves seizure of all property acquired through exploitation of victims will lead to a disincentive of traffickers to commit crime of trafficking in human beings. 
  %p For the purpose of improvement the protection of the right to compensation, Open Gate in cooperation with the National Commission for Combating Trafficking in Human Beings and Illegal Migration of R. Macedonia and other relevant actors, initiated a legislative changes relating to the establishment of a compensation fund for victims of all types of crime, including victims of human trafficking. With these changes the victims would get real compensation for their suffering and would have greater chances of integration into society.







.slide.big-slide.slide23
  %ul.logos
    =image_tag("logos.#{I18n.locale}.png", style: 'width:100%')
    %p.disclaimer= t(:disclaimer)

