.slide.big-slide.slide1
  %h1.no-top-margin Pravo žrtava na nadoknadu štete

  %p Kompenzacija žrtava trgovanja ljudima u RH propisana je Zakonom o novčanoj naknadi žrtvama kaznenih djela koji je stupio na snagu na dan ulaska Republike Hrvatske u Europsku uniju. Sukladno članku 5 ovoga Zakona, ovlaštenici prava na naknadu su neposredne i posredne žrtve kaznenih djela počinjenih s namjerom uz primjenu sile ili povredom spolnog integriteta; te kaznenih djela dovođenja u opasnost života i imovine općeopasnom radnjom ili sredstvom kojim je prouzročena smrt, teška tjelesna ozljeda ili teško narušenje zdravlja jedne ili više osoba, a propisano je Kaznenim zakonom kao teži oblik temeljnoga kaznenog djela počinjenog s namjerom.
  %p Neposrednom žrtvom smatra se i osoba koja je pretrpjela teške tjelesne ozljede ili teško narušenje zdravlja za vrijeme počinjenja namjernoga kaznenog djela nasilja prema drugoj osobi, ako nije sudjelovala u počinjenju toga kaznenog djela; pokušavajući spriječiti počinjenje kaznenog djela; pomažući policiji pri uhićenju počinitelja; pružajući pomoć drugoj žrtvi kaznenog djela.

.slide.big-slide.slide2
  %p Posredna žrtva je bračni drug, izvanbračni drug, dijete, roditelj, posvojenik, posvojitelj, maćeha, očuh, pastorak neposredne žrtve i osoba s kojom je neposredna žrtva živjela u istospolnoj zajednici. Posredna žrtva je i djed, baka i unuk, ako je jedan od njih neposredna žrtva, u slučaju kad je između njih postojala trajnija zajednica života, a baka i djed su zamjenjivali roditelje.
  %p Pravo na naknadu može se ostvariti samo zbog posljedica gore navedenih kaznenih djela počinjenih prema neposrednoj žrtvi na području Republike Hrvatske, na hrvatskom brodu ili u hrvatskom zrakoplovu bez obzira gdje se žrtva nalazi u trenutku nastupanja posljedice kaznenog djela.
.slide.big-slide.slide3
  %p Pravo na naknadu ima žrtva koja je:
  %p •	državljanin Republike Hrvatske ili ima prebivalište u Republici Hrvatskoj,
  %p •	državljanin države članice Europske unije ili ima prebivalište u državi članici Europske unije.
  %p Pravo na naknadu prema ovom Zakonu može se ostvariti samo ako je kazneno djelo evidentirano ili prijavljeno policiji ili državnom odvjetništvu kao kazneno djelo. Ovlaštenici imaju pravo na naknadu neovisno o tome je li počinitelj kaznenog djela poznat i bez obzira na pokretanje kaznenog postupka.
.slide.big-slide.slide4
  %h1 Nadležna tijela
  %p O pravu na naknadu odlučuje Odbor za novčanu naknadu žrtvama kaznenih djela (u daljnjem tekstu: Odbor), većinom glasova svih članova. O pravu na naknadu Odbor donosi rješenje u roku od 60 dana od dana primitka potpunog zahtjeva. Na temelju rješenja Odbora ministarstvo nadležno za poslove pravosuđa isplatit će naknadu u roku od 30 dana od dana dostave rješenja kojim je određeno plaćanje naknade.
  %p Napomena: Izvješća o radu Odbora još uvijek nema jer su tek osnovani.
  %p Do sada je poznato da je donesena 1 presuda Općinskog građanskog suda u rujnu 2009. godine, za naknadu štete žrtvi trgovanja ljudima od strane počinitelja kaznenog djela trgovanja ljudima u iznosu od 152.000,00 kn.   
.slide.big-slide.slide5
  %ul.logos
    =image_tag("logos.#{I18n.locale}.png", style: 'width:100%')
    %p.disclaimer= t(:disclaimer)
  

