.slide
  <iframe width="640" height="360" src="//www.youtube.com/embed/o74gYVfs30I" frameborder="0" allowfullscreen></iframe>
.slide.big-slide
  %h1.no-top-margin Pravo žrtava na naknadu štete
  %p Jedno od najznačajnijih prava žrtava trgovine ljudima je pravo na naknadu štete odnosno kompenzaciju od države s ciljem brze i efikasne reparacije pretrpljenih posljedica stradanja, kako je to propisano članom 15. Konvencije Vijeća Europe o borbi protiv trgovine ljudima koju je Bosna i Hercegovina ratificirala 2008. godine. Sam status žrtve trgovine ljudima osigurava nepobitno pravo na korišćenje svih pravnih mehanizama koji omogućavaju da žrtve pravovremeno dobiju informacije i pomoć u zaštiti njihovih interesa, prava i sigurnosti u sudskom postupku koje im po međunarodnim standardima i domaćim zakonima pripadaju. Na sve oblike pomoći, žrtve trgovine ljudima imaju pravo bez diskriminacije po bilo kom osnovu i bez uslovljavanja suradnjom sa vlastima u krivičnom gonjenju trgovaca ljudima.

.slide.big-slide
  %div.box
    %h2 Međunarodni dokumenti koji štite pravo žrtava na naknadu štete obavezujući za Bosnu i Hercegovinu:
    %ul
      %li Konvencija Ujedinjenih nacija o transnacionalnom organiziranom kriminalu (29.09.2003.)
      %li Konvencija Vijeća Europe o borbi protiv trgovine ljudima (01.02.2008.)
      %li Protokol za sprečavanje, suzbijanje i kažnjavanje trgovine ljudima, naročito ženama i djecom (25.12.2003) - Palermo Protokol

.slide.big-slide
  %p U Bosni i Hercegovini je ustanovljen solidan pravni okvir za naknadu žrtvama trgovine ljudima. Ustav Bosne i Hercegovine, čiji sastavni dio čine međunarodne konvencije i dokumenti, predstavlja dokument koji obavezuje na „najviši nivo međunarodno priznatih ljudskih prava i osnovnih sloboda“ a samim tim i zaštitu žrtava trgovine ljudima. Pored ustavnog uređenja, osnovnu predispoziciju uspješne borbe protiv trgovine ljudima kao kompleksnog i dinamičnog društvenog fenomena čini usklađen i odgovarajući zakonodavni okvir koji će na djelotvoran način omogućiti adekvantan krivični postupak, gonjenje počinilaca kao i pružanje pomoći i zaštite žrtavama i žrtvama svjedocima trgovine ljudima. 
.slide.big-slide
  %p U skladu sa krivičnim zakonodavstvom u Bosni i Hercegovini, žrtve trgovine ljudima, kao i žrtve drugih krivičnih dijela, mogu potraživati naknadu štete od okrivljenih u krivičnom postupku. Primijećeno je da se takvi zahtjevi u praksi ne podržavaju, jer bi njihovo ispitivanje značilo da se ustanovi pretrpljena šteta kako bi se dala procjena za obeštećenje, što bi odložilo izricanje presude u slučaju trgovine ljudima. Kao vid alternative, žrtve se upućuju da pravdu potražuju putem parničnog postupka. Zbog dužine, visokih troškova i činjenice da teret dokazivanja štete u parničnom postupku pada na žrtvu, jako mali broj žrtava se odlučuje da na taj način ostvari svoja prava. 
.slide.big-slide
  %p Iako krivično zakonodavstvo BiH predviđa mogućnost oduzimanja nezakonito stečene imovinske koristi i obezbjeđuje postupke za privremenu i trajnu zaplijenu imovine stečene izvršenjem krivičnog djela, ono nema dovoljno mogućnosti za odluku o naknadi štete žrtvama od strane optuženih u krivičnom postupku. Pokazatelj toga je samo jedan slučaj u sudskoj praksi Suda BiH (kao jedini nadležan prije izmjena iz 2013. godine u RS i BD), od 2003. godine u kome je donesena odluka da se žrtvi dodijeli naknada štete. Pored toga, u zakonu ne postoji mogućnost da se dobije naknada štete od države, niti je uspostavljen fond za žrtve trgovine ljudima ili žrtve kriminaliteta uopšte. Uprkos činjenici da je svrha pravnog okvira da garantuje da žrtve imaju pristup pomenutim mogućnostima za naknadu, sistem pružanja pravne pomoći nije djelotvoran i pored uspostavljenih mehanizama. 
.slide.big-slide
  %p Obaveze koje je BiH preuzela ratifikacijom međunarodnih konvencija i dokumenata upućuju na neophodnost kreiranja efikasnog mehanizma za ostvarivanje prava na naknadu štete. Nepostojanje Državnog fonda za naknadu štete žrtvama trgovine ljudima u BiH predstavlja ozbiljnu prepreku efikasnom ostvarivanju ovog prava. Uspostavljenjem efikasnog mehanizma, žrtve trgovine ljudima će konačno osjetiti satisfakciju za štetu i patnje pretrpljene u lancu trgovine ljudima, kao i dodatno motivisati da učestvuju u postupku i svjedoče protiv počinilaca krivičnog djela.
.slide.big-slide
  %p Stoga je Međunarodni forum solidarnosti – EMMAUS (MFS-EMMAUS) poduzeo incijativu za uspostavljanje državnog fonda za naknadu štete (kompenzaciju) u BiH. Aktivnosti u sklopu nacionalne kampanje zagovaranja na nivou cijele države MFS-EMMAUS usmjerio je na donosioce odluka i pravosudne institucije, te izradio Priručnik za sudije i tužioce o naknadi štete žrtvama trgovine ljudima u BiH. Primjena Priručnika će biti promovisana tokom aktivnosti izgradnje kapaciteta sudija i tužilaca u cilju poboljšanja i sveobuhvatne primjene odredaba releventnih zakona o naknadi za žrtve trgovine ljudima. Daljnje aktivnosti u sklopu kampanje tiču se obrazovanja Radne grupe za uspostavu Fonda za naknadu štete (kompenzacije) u Bosni i Hercegovini čija realizacija je u toku. Očekuje se da će Radna grupa biti uspostavljena u septembru 2014. godine, a MFS-EMMAUS u suradnji sa ključnim akterima u ovoj oblasti radi na pripremi koncepta rješenja pitanja naknade štete žrtvama trgovine ljudima u BiH.
.slide.big-slide
  .logos
    =image_tag("logos.#{I18n.locale}.png", style: 'width:100%')
    %p.disclaimer= t(:disclaimer)

