#everything{style: 'display:none'}
  #bkg1.dynamic-background
  #hana
    =image_tag("hana.png")
  %ul.language-picker
    %li
      %a{href: '/home?locale=ba'} BIH
    %li
      %a{href: '/home?locale=en'} ENG
    %li
      %a{href: '/home?locale=hr'} HRV
    %li
      %a{href: '/home?locale=mk'} MAK
    %li
      %a{href: '/home?locale=me'} MNE
    %li
      %a{href: '/home?locale=sr'} SRB
