#everything{style: 'display:none'}
  #bkg2
  #bkg3
  #hana
    =image_tag("hana.png")
  #blood
    =image_tag("blood.png")
  #bruises
    =image_tag("bruises.png")
  #morebruises
    =image_tag("morebruises.png")
  #bkg4

