.news
  %h2= I18n.l @article.created_at.to_date, format: :default
  %h1= @article.title 
  =@article.body.html_safe
  - if @article.attachments.select{|a| !a.is_main}.size > 0
    .download
      =t(:download)
      %table{width: '300px'}
        - @article.attachments.each do |attachment|
          - if attachment.image.file && !attachment.is_main
            %tr
              %td{width: '50px'}
                %a{href: attachment.image.try(:url), target: '_blank'}
                  =image_tag(Icon.for_filename(attachment.image.try(:file).try(:file) || ""))
              %td
                %a{href: attachment.image.try(:url), target: '_blank'}
                  =attachment.title


    
