.news
  %h2 25.1.2014.
  %h1 Lorem ipsum dolor sum avet est nomen ultra
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat massa sed erat pharetra viverra. Donec porta tristique magna. Nam rutrum mauris 
  =image_tag('news-detail.png')
  %p quis feugiat accumsan. Donec arcu dolor, ornare ut felis a, sodales tempus lacus. Ut aliquet accumsan tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at urna sem. Suspendisse hendrerit lacus
