body
  background: transparent image-url("bkg.png") top left no-repeat
  background-size: 100%
  margin: 0

#hana
  position: absolute
  top: 100px


#blood
  position: absolute
  top: 205px
  left: 308px


#bruises, #morebruises
  position: absolute
  left: 241px
  top: 147px

#bkg2, #bkg3, #bkg4
  position: absolute
  background-size: 100%
  background-position: top left
  background-color: transparent
  background-repeat: no-repeat
  height: 100%
  width: 100%

#bkg2
  background-image:  image-url('bkg2.png') 

#bkg3
  background-image:  image-url('bkg3.png') 

#bkg4
  background-image:  image-url('bars.png') 
